{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ root_url }}/favicon.ico" rel="icon">
  		<link href="{{ root_url }}/stylesheets/screen.css" rel="stylesheet">
  		<meta property="og:url" content="{{ site.url }}">
  		<meta property="og:title" content="{{ site.title }}">
  		<meta property="og:description" content="CodicePlastico è un grande piccolo team di software engineer">
  		<meta name="description" content="We are a software house of superheroes">
  		<meta name="keywords" content="software, consulenza, sviluppo, formazione">
  		<meta property="og:image" content="{{ site.url }}/images/facebook.jpg">
	</head>
	<body>
		<nav id="navbar">
			<div id="navbar-content-container" class="container">
				<div id="navbar-content">
					<div id="navbar-header">
						<a id="navbar-brand" href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}">
							<div id="header-logo"></div>
						</a>
						<a id="navbar-logo" class="hidden-xs" href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}">
							<img src="/images/codiceplastico.png" alt="CodicePlastico">
						</a>
						<button id="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					      	<span class="icon-bar"></span>
					      	<span class="icon-bar"></span>
					      	<span class="icon-bar"></span>
					    </button>
					</div>
				 	<div id="navbar-collapse" class="collapse">
						<ul id="nav">
							<li>
								<a href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}case-history/">
									Case History
								</a>
							</li>
							<li>
								<a href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}services/">
									{{ page.services }}
								</a>
							</li>
							<li>
								<a href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}blog/">
									Blog
								</a>
							</li>
							<li id="languages">
								<a href="/">
									Eng
								</a>/
								<a href="/it/">
									Ita
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div id="main" class="container">
			{{ content | expand_urls: root_url }}
			<div id="content-footer">
				<h1>
					{{ page.call_to_action }}
				</h1>
				<a href="mailto:info@codiceplastico.com">
					info@codiceplastico.com
				</a>
				<nav>
					<ul class="list-inline">
						<li>
							<a href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}case-history/">
								Case History
							</a>
						</li>
						<li>
							<a href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}services/">
								{{ page.services }}
							</a>
						</li>
						<li>
							<a href="{{ root_url }}/{% if page.lang %}{{ page.lang }}/{% endif %}blog/">
								Blog
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div id="footer-block">
			<footer id="footer" class="container">
				<div id="footer-content">
					<div id="footer-logo"></div>
					CodicePlastico - P.IVA <a href="">03079830984</a> - via Branze 45, 25123 Brescia - Tel +39 030 6595241
				</div>
			</footer>
		</div>
		<script>
			var domain = "{{ site.url }}";
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!-- build:js {{ root_url }}/javascripts/build.js -->
		<script src="{{ root_url }}/javascripts/vendor/prefixfree.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/bootstrap.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/waypoints.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/media.match.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/enquire.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/skrollr.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/jquery.xdomainajax.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/micro-templating.js"></script>
		<script src="{{ root_url }}/javascripts/vendor/console.image.js"></script>
		<script src="{{ root_url }}/javascripts/desktop.js"></script>
		<script src="{{ root_url }}/javascripts/mobile.js"></script>
		<script src="{{ root_url }}/javascripts/slides.js"></script>
		<script src="{{ root_url }}/javascripts/blog.js"></script>
		<script src="{{ root_url }}/javascripts/easteregg.js"></script>
		<script src="{{ root_url }}/javascripts/main.js"></script>
		<!-- endbuild -->
		<script type="text/javascript">
			window['ga-disable-UA-149173-1'] = true;
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-149173-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
