
@font-face {
    font-family: 'Calibre-Semibold';
    src: url('../assets/fonts/Calibre-Semibold.eot');
}

@font-face {
    font-family: 'Calibre-Semibold';
    src: url('../assets/fonts/Calibre-Semibold.woff') format('woff'),
    url('../assets/fonts/Calibre-Semibold.svg#Calibre-Semibold') format('svg');
}

@font-face {
    font-family: 'Flavin';
    src: url('../assets/fonts/FlavinRegular.eot');
}

@font-face {
    font-family: 'Flavin';
    src: url('../assets/fonts/FlavinRegular.woff') format('woff'),
    url('../assets/fonts/FlavinRegular.svg#Flavin') format('svg');
}

@font-face {
    font-family: 'ComicStripMN';
    src: url('../assets/fonts/ComicStrMN.eot');
}

@font-face {
    font-family: 'ComicStripMN';
    src: url('../assets/fonts/ComicStrMN.woff') format('woff'),
    url('../assets/fonts/ComicStrMN.svg#ComicStripMN') format('svg');
}